


.infiniteScroll{
  animation-name: moveAnime;
  /* animation-duration: 10s; */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moveAnime {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
